
@model ToDoList

@{
	
}


 
<form method="post" enctype="multipart/form-data" onload="GetAllTasks()">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create a new task</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Content"></label>
			<input asp-for="Content" class="form-control" />
			<span asp-validation-for="Content" class="text-danger"></span>
		</div>
		<div class="mb-3">
		  <label asp-for="Importance"></label>
		  <select class="form-control" id="exampleSelect1" asp-for="Importance">
			<option>@ToDo_List.Models.Importance.Low</option>
			<option>@ToDo_List.Models.Importance.Medium</option>
			<option>@ToDo_List.Models.Importance.High</option>
		  </select>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Note"></label>
			<textarea asp-for="Note" class="form-control"></textarea>
		</div>
		<div class="mb-3">
			<label asp-for="DateStart"></label>
			<input asp-for="DateStart" class="form-control" />
			<span asp-validation-for="DateStart" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Deadline"></label>
			<input asp-for="Deadline" class="form-control" />
			<span asp-validation-for="Deadline" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ImageModel.ImageFile"></label>
			<input asp-for="ImageModel.ImageFile" class="form-control" accept="image/jpeg,image/jpg"/>
			<span asp-validation-for="ImageModel.ImageFile" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width: 150px">Create!</button>
		<a asp-controller="ToDoList" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to list</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
